.message-error {
  background-color: $message-error;
  width: 100%;
  color: $white;
  padding: 15pt;
  margin: 5pt 0;
}

.message-success {
  background-color: $message-success;
  width: 100%;
  color: $white;
  padding: 15pt;
  margin: 5pt 0;
}

.message-primary {
  background-color: $message-primary;
  width: 100%;
  color: $white;
  padding: 15pt;
  margin: 5pt 0;
}