{% extends '@Client/Base/index.html.twig' %}

{% block body %}
    <div class="wrapper">
        {% include '@Client/Components/Sidepanel/index.html.twig' %}
        <section class="wrapper__content">

        </section>
    </div>
{% endblock %}